@import url(https://fonts.bunny.net/css?family=acme:400);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Acme", sans-serif;
  font-weight: 400;
  background-color: #f0f0f0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 90%;
  max-width: 700px;
  height: auto;
  padding: 20px;
  background-color: #5500ff;
  border: 10px solid #38a2ffdb;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#display {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 5%;
  font-size: 30px;
  color: whitesmoke;
  margin-top: -10px;
  margin-bottom: -20px;
}

#pointsDisplay {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 5%;
  padding-bottom: 10px;
}

#homeScore,
#awayScore {
  width: 45%;
  height: auto;
  aspect-ratio: 8 / 5;
  background-color: #ecd0ff;
  color: #333;
  border-radius: 10px;
  font-size: 10vw;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: -15px;
}

#centStyle {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 70px;
}

#centStyle button {
  font-family: "Acme", sans-serif;
  font-weight: 400;
  font-size: 4vw;
  width: 15vw;
  max-width: 80px;
  height: auto;
  aspect-ratio: 4 / 3;
  border: none;
  outline: none;
  background-color: #ff3838db;
  color: #f0f0f0;
  border-radius: 5px;
  cursor: pointer;
}

@media (max-width: 600px) {
  #homeScore,
  #awayScore {
    font-size: 10vh;
    margin-bottom: -25px;
  }

  #display {
    font-size: 20px;
    margin-bottom: -10px;
  }
  #centStyle {
    margin-bottom: -15px;
  }
  #centStyle button {
    font-size: 10vw;
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    gap: 5vh;
  }
}
